name: CI

on:
  push:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v25
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Build Docker image
        run: |
          nix --extra-experimental-features 'nix-command flakes' build .#default

      - name: Load Docker image
        run: |
          docker load < result

      - name: Test the container
        run: |
          docker run --rm nix-nixuser:latest sh -c 'whoami && nix profile add nixpkgs#hello && hello'